{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <form action="/edit-handler/{{ task.getId() }}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">User name</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ task.getName() }}" placeholder="User name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ task.getEmail() }}" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="text">Text</label>
                        <textarea class="form-control" rows="3" id="text" name="text" placeholder="Enter text">{{ task.getText() }}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" name="image" id="image">

                        {% if task.getImage().getRelativePath() is not empty %}
                            {% if task.getImage().exists() %}
                                <p class="text-info mt-10">
                                    <img src="{{ task.getImage().getUrl() }}" class="img-responsive" alt="Image">
                                </p>

                                <input type="hidden" name="image" value="{{ task.getImage().getRelativePath() }}">

                                <input type="hidden" name="remove_image" value="0">
                                <label>
                                    <input type="checkbox" name="remove_image" value="1"> Remove image
                                </label>
                            {% else %}
                                {% include 'blocks/alert.twig' with {'result' : wrongFile } %}
                            {% endif %}
                        {% endif %}

                        <p class="help-block">You can attach a picture to the task. Requirements for images - JPG / GIF / PNG format. The image is automatically converted to 320x240 pixels.</p>
                    </div>

                    <div class="checkbox">
                        <input type="hidden" name="is_completed" value="0">

                        <label>
                            <input type="checkbox" name="is_completed" value="1"{% if task.getIsCompleted() %} checked="checked"{% endif %}> Completed
                        </label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a id="button-task-edit-cancel" href="/" class="btn btn-info">Cancel</a>
                </div>
                
                <div class="col-md-6 text-right">
                    <button type="submit" name="submit" value="send" class="btn btn-success">Edit</button>
                </div>
            </div>
            <input type="hidden" name="id" value="{{ task.getId() }}">
        </form>
    </div>

    {% include 'blocks/alert.twig' with {'result' : result } %}
{% endblock %}